.main
			{
				height:100px;
				background-color:#5e0209;
				text-align:center;
				color:white;
				font-family:verdana;
				font-weight:bold;
				text-shadow:1px 1px 5px black;
			}
			.contact
			{
				height:50px;
				background-color:#5e0209;
				text-align:center;
				color:white;
				font-family:monospace;
				font-weight:bold;
				text-shadow:1px 1px 5px black;
			}
			ul
			{
				list-style-type:none;
			}
			ul li
			{
				display:inline;
				color:teal;
				list-style-type:none;
			}
			.dropbtn
			{
			  background-color: transparent;
			  padding: 0px;
			  color:white;
			  font-size: 16px;
			  border: none;
			}

		.dropdown 
		{
		  position: relative;
		  display: inline-block;
		}
		.dropdown-content 
		{
		  display: none;
		  position: absolute;
		  background-color:#5e0209;
		  min-width: 160px;
		  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
		  z-index:1;
		}
		.dropdown-content a 
		{
		  color:white;
		  padding: 15px 15px;
		  text-decoration: none;
		  display: block;
		}
		.dropdown-content a:hover 
		{
			background-color: white;
			color:#5e0209;
		}
		.dropdown:hover .dropdown-content 
		{
			display: block;
			}

		.dropdown:hover .dropbtn 
		{
			background-color: transparent;
		}
		
		.content
		{
			height:1000px;
			//border:1px solid;
			background-color:white;
			color:red;
			margin-top:20px;
			text-align:center;
		}
		#pic1
		{
			border-radius:50%;
			height:70px;
			width:70px;
		}
		.photo
		{
			background-color:whitesmoke;
		}
		#pictures
		{
			height:350px;
		}
		#pictures:hover
		{
			
			box-shadow:0px 0px 10px gray;
		}
.footer-top p
{
    color: #999;
    line-height: 25px; 
}
.footer-top  h2,h3
{
    color: #fff;
}
.footer-top h2
{
    font-size: 15px;
}
.footer-top
{
    background: #5e0209;
    padding: 60px 0;
}
.segment-one h3
{
    font-family: courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    font-family: courgette;
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration:none;
}
.segment-three h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #5e0209;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a li{
        font-size: 25px !important;
        color: #fff;
        padding: 8px 10px;
}   
.footer-bottom-text{
    text-align: center;
    background: #5e0209;
    line-height: 65px;
    color: #999;
}

/* Responsive css */

@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}