.main
			{
				height:130px;
				background-color:#5e0209;
				text-align:center;
				color:white;
				font-family:verdana;
				font-size:23px;
				font-weight:bold;
				text-shadow:1px 1px 5px black;
			}
			.contact
			{
				height:80px;
				background-color:#5e0209;
				text-align:center;
				color:white;
				font-family:monospace;
				font-weight:bold;
				text-shadow:1px 1px 5px black;
			}
			ul
			{
				list-style-type:none;
			}
			ul li
			{
				display:inline;
				color:teal;
			}
			.dropbtn
			{
			  background-color: transparent;
			  padding: 0px;
			  color:white;
			  font-size: 16px;
			  border: none;
			}

		.dropdown 
		{
		  position: relative;
		  display: inline-block;
		}
		.dropdown-content 
		{
		  display: none;
		  position: absolute;
		  background-color:#5e0209;
		  min-width: 160px;
		  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
		  z-index:1;
		}
		.dropdown-content a 
		{
		  color:white;
		  padding: 15px 15px;
		  text-decoration: none;
		  display: block;
		}
		.dropdown-content a:hover 
		{
			background-color: white;
			color:#5e0209;
		}
		.dropdown:hover .dropdown-content 
		{
			display: block;
			}

		.dropdown:hover .dropbtn 
		{
			background-color: transparent;
		}
		
		.content
		{
			height:1300px;
			
			background-color:white;
			color:red;
			margin-top:20px;
			text-align:center;
		}
		#pic1
		{
			border-radius:50%;
			height:150px;
			width:150px;
		}
		.academic
		{
			height:500px;
			background-color:white;
			text-align:justify;
		}
		.academic ol li
		{
			
			list-style-type:none;
			color:teal;
			padding:5px;
			font-size:14px;
		}
		
.footer-top p
{
    color: #999;
    line-height: 25px; 
}
.footer-top  h2,h3
{
    color: #fff;
}
.footer-top h2
{
    font-size: 15px;
}
.footer-top
{
    background: #5e0209;
    padding: 60px 0;
}
.segment-one h3
{
    font-family: courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    font-family: courgette;
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration:none;
}
.segment-three h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #5e0209;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a li{
        font-size: 25px !important;
        color: #fff;
        padding: 8px 10px;
}   
.footer-bottom-text{
    text-align: center;
    background: #5e0209;
    line-height: 65px;
    color: #999;
}

  .menu{
    position:relative;
   width:280px;
    height:280px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .menu .toggle{
    position:relative;
    height:60px;
    width:60px;
    background:#fff;
    border-radius:50%;
    box-shadow:0 3px 5px rgba(0,0,0,0.25);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#333;
    font-size:2rem;
    cursor:pointer;
    transition:1.25s;
    z-index:5;
  }
  .menu.active .toggle{
    transform:rotate(360deg);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15),
      0 0 0 2px #333,
      0 0 0 8px #fff;
  }
  .menu li{
    position:absolute;
    left:0;
    list-style:none;
    transition:0.5s;
    transform:rotate(calc(360deg/8 * var(--i)));
    transform-origin:140px;
    scale:0;
    transition-delay: calc(0.05s * var(--i));
  }
  .menu.active li{
    scale:1;
  }
  .menu li a{
    position:relative;
    display:flex;
   transform:rotate(calc(360deg/-8 * var(--i)));
    width:60px;
    height:60px;
    background-color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    font-size:1.75rem;
    color:var(--clr);
     box-shadow:0 3px 4px rgba(0,0,0,0.15);
    transition:0.5s;
  }
  .menu li:hover a{
    font-size:2.5rem;
    box-shadow:0 0 0 2px var(--clr),
      0 0 0 6px #fff;
  }


/* Responsive css */

@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}
